.container-fluid
  .row-fluid
    .span3
      .well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header
            Teams
            - @teams.each do |t|
              %li
              = link_to t.name, team_path(t)
    .span9
      .row-fluid
        .span8
          .hero-unit
            %div
              %h2
                - if current_user.on_team?
                  = "Welcome back, Team #{current_user.team.name}! We hope you and #{current_user.partner.name} are ready to battle it out in #{current_user.team.city}!"
                - else
                  = "Hey, #{current_user.name} looks like you are flying Han-style (solo). Join or create a team"
                  =link_to("here", new_team_path(@team))
              %h1
                %span{:style => "font-size: 13px; line-height: 1.6em;"}
          %div
            %h2
              Discussion area
            %ul
              %li
                We're still working on this
        .span4
          %div
            %h2
              News
            %ul
              %li
                NYC tournament scheduled for April 13th at Noon. Location (Manhattan) TBA.
              %li
                SF tournament is in the works
              %li
                If you want your city to participate email
                = link_to("reunionpong@gmail.com", "mailto:reunionpong@gmail.com")
      %hr/
