= simple_form_for @team do |f|
  = f.input :city, collection: ['NYC', 'San Fran', 'Boston', 'DC', 'LA', 'New Orleans', 'VT/NH', 'Chicago', 'Hong Kong', 'Other']
  = f.input :name, label: "Team Name"
  = f.association :users, label: "Select Partner (if your partner is not listed here leave this blank for now and tell them to register)", :collection => @users, label_method: :name, value_method: :id, include_blank: false
  = f.submit
